@using MVC_IMDB_Practice.Enums
@using MVC_IMDB_Practice.Models.Entities;
@model Movie

<form method="post" asp-action="Edit">
    <label for="">Id</label>
    <input placeholder="Id" asp-for="@Model.Id" readonly />

    <label for="">Title</label>
    <input placeholder="Title" asp-for="@Model.Title" />

    <label for="">Duration</label>
    <input placeholder="Duration" asp-for="@Model.Duration" />

    <label for="">ReleaseYear</label>
    <input placeholder="ReleaseYear" asp-for="@Model.ReleaseYear" />

    <label for="">Director</label>
    <input placeholder="Director" asp-for="@Model.Director" />
        <label asp-for="Genre"></label>
        <select asp-for="Genre"
                asp-items="Html.GetEnumSelectList<Genre>()"
                class="form-control">
            <option value="">-- Select Genre --</option>
        </select>
    <button type="submit">Edit</button>
    <button asp-action="Index" type="submit">Cancel</button>
</form>
