@using MVC_IMDB_Practice.Models.Entities;
@model IPagedList<Movie>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@{
    string search = ViewBag["CurrentSearch"] as string;
}
<h1>Movies</h1>

<a asp-action="Create" class="btn btn-primary">
    Add Movie
</a>

@if (Model.Any() == false)
{
    <div>
        <h1>There is no movies</h1>
    </div>
}

@if(Model.Count() > 0)
{
    


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Release Date</th>
            <th>Genre</th>
            <th>Director</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Id</td>
                <td>@movie.Title</td>
                <td>Release year: @movie.ReleaseYear</td>
                <td>Genre: @movie.Genre</td>
                <td>Director: @movie.Director</td>
                <td>Duration: @movie.Duration</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@movie.Id"> <i class="fa-solid fa-pen-to-square"></i>Edit</a>
                    <a asp-action="View" asp-route-id="@movie.Id"> <i class="fa-solid fa-eye"></i>View</a>
                    <a asp-action="Delete" asp-route-id="@movie.Id"> <i class="fa-solid fa-trash"></i>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
    <div>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </div>

    @Html.PagedListPager(Model, pagePos =>
    Url.Action("Index",
    new { pagePos }),
    new PagedListRenderOptions
    {
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
        UlElementClasses = new[] { "pagination", "mb-0" },
        DisplayLinkToFirstPage = PagedListDisplayMode.Always,
        DisplayLinkToLastPage = PagedListDisplayMode.Always,
        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
        DisplayLinkToNextPage = PagedListDisplayMode.Always,
        LinkToFirstPageFormat = "«",
        LinkToPreviousPageFormat = "‹",
        LinkToNextPageFormat = "›",
        LinkToLastPageFormat = "»",}
    )
}
